body, h1, h2, p {
        font-family: 'Roboto', sans-serif;
}

.container {
    padding: 5%;
    padding-top: 100px;
}

.logo {
    display: block;
    width: 75%;
    margin: 3em auto;
}

.introData {
    color: #999;
    margin-left: 5%;
}

p {
    line-height: .4em;
}

.startQuiz {
    position: absolute;
    bottom: 5px;
    width: 90%;
}

.answers {
    margin-top: 3em;
}

header {
    text-align: center;
}

    header.navbar-default {
        background-color: #f16529;
        background-image: none;
        color: whitesmoke;
    }

.btn {
    width: 90%;
    color: whitesmoke !important;
}

.ui-icon-radio-on {
   background-color: #f16529 !important;
}

.ui-icon-checkbox-on {
   background-color: #f16529 !important;
}

h2 {
    font-size: 150%;
    margin: 0;
    margin-bottom: 20px;
}

p {
    line-height: 1.5em;
}
.answers span {
    text-align: left;
    margin-right: 10px;
}